@import '../../../../../../assets/styles/variables';
@import '../../../../../../assets/styles/mixins';

.boards-list {
  padding: 8px;
  height: 430px;

  &--content {
    &-boards {
      height: 366px;
      padding: 16px;
      margin-bottom: 16px;
      overflow-x: auto;
      border-bottom: 1px solid $BASE-EXTRA-LIGHT-GRAY-2;

      &::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 8px;
        height: 8px;
      }

      .selected-persona {
        border-left: 6px solid $BASE_BLUE_COLOR;
      }
    }
  }
}

.custom-modal-footer {
  justify-content: space-between;
  .create-new {
    text-transform: lowercase;
  }
}

.assign-modal-header {
  @include flex-center;

  .question-sign {
    margin-left: 8px;
    @include base-round-btn(16px, 16px, $DARK_BLUE);
    font-size: 12px;
    color: $BASE_WHITE-COLOR;
    font-weight: 500;
  }
}

.go-back {
  width: 160px;
  margin: 10px 0 16px 4px;
  @include flex-center-center;
  gap: 8px;
  color: $BASE_GRAY_COLOR;
  &--icon {
    width: 16px;
    height: 16px;
  }
  &:hover {
    cursor: pointer;
    color: $BASE_BLUE_COLOR;
    path {
      stroke: $BASE_BLUE_COLOR;
    }
  }
}
