@import 'src/assets/styles/mixins';
@import 'src/assets/styles/variables';

.comment-item {
  cursor: pointer;
  border-radius: 2px;
  margin-bottom: 8px;
  padding: 14px 8px;
  font-size: 14px;
  position: relative;
  .custom-vertical-menu {
    top: 10px;
    right: 10px;
    position: absolute;
  }
  &:hover {
    background: #f5f5f5;
    .custom-vertical-menu {
      display: flex;
    }
  }
  &--message {
    font-size: 14px;
    margin-bottom: 8px;
  }

  &--author {
    @include flex-center;
    gap: 8px;
    font-weight: 300;
    font-size: 12px;
    margin-bottom: 8px;

    &-logo {
      background: red;
      width: 24px;
      height: 24px;
      color: $BASE-WHITE-COLOR;
      border-radius: 50px;
      font-size: 12px;
      font-weight: 500;
      @include flex-center-center;
    }
  }
  &--reply {
    font-size: 10px;
    margin: 14px auto 8px;
    color: $BASE_GRAY_COLOR_2;
    display: block;
  }
}
