@import 'src/assets/styles/mixins';

.admin {
  height: 100%;
  padding: 32px 64px;

  &--main {
    margin-top: 32px;
  }
  .error-logs,
  .performance-logs,
  .org-users,
  .copy-map,
  .organizations {
    margin-top: 20px;
    height: calc(100dvh - 260px);
  }
  .copy-map {
    .custom-table {
      tr:hover {
        td {
          color: $BASE_BLUE_COLOR;
        }
      }
    }
  }
}
