@import 'src/assets/styles/variables';
@import 'src/assets/styles/mixins';

.base-layout {
  &--header {
    height: 48px;
  }
  &--main {
    height: calc(100dvh - 88px);
    overflow: auto;
  }

  &--go-login-btn {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
