@import 'src/assets/styles/variables';
@import 'src/assets/styles/mixins';

.comment-input {
  position: relative;
  border: none;

  .ql-container.ql-snow {
    border: none !important;
    background-color: #f5f5f5;
    border-bottom: 1px solid $BASE-LIGHT-GRAY-COLOR !important;
  }

  .ql-editor {
    max-height: 72px;
    padding: 8px 30px 8px 10px;
    overflow: auto;
  }

  .send-comment {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1;
    cursor: pointer;
  }
}
