@import "src/assets/styles/variables";
@import "src/assets/styles/mixins";

.custom-vertical-menu {
  display: none;
  border-radius: 2px;

  &--btn {
    @include flex-center-center;
    max-width: 24px;
    max-height: 24px;
    min-width: 24px;
    min-height: 24px;
    &:hover {
      background: #dcdcdc;
    }
  }

  &--menu-item {
    width: 100%;
    @include flex-center-center;
    &:hover {
      .custom-vertical-menu--sub-options {
        height: fit-content;
        max-height: 128px;
        overflow: auto;
        transition: 0.3s;
      }
    }
    &-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 8px;
      padding: 0 10px;
      width: 100%;
      height: 32px;
      color: $BASE_GRAY_COLOR;
      font-size: $BASE-FONT-SIZE;
      &:active {
        color: $BASE-WHITE-COLOR;
        background: #737b85;
      }
      &:hover {
        color: #1b3380;
        background: #eeeeee;
        //@include svg-fill($BASE-WHITE-COLOR);
        .custom-vertical-menu--menu-item-content-icon {
          @include svg-fill(#1b3380);
        }
      }
      &--text {
        @include reduce-text(100%);
        padding: 14px 14px 14px 0;
        display: block;
      }
      &-icon {
        text-align: center;
        display: inline-block;
        width: 32px;
        height: 32px;
        padding: 8px;
      }
    }
    .icon {
      &-position-start {
        justify-content: flex-start;
      }
      &-position-end {
        flex-direction: row-reverse !important;
      }
    }
  }

  &--sub-options {
    max-height: 0;
    overflow: hidden;
    transition: 0.3s;
  }
  &--sub-item {
    display: flex;
    gap: 10px;
    height: 32px;
    font-size: 12px;
    padding-left: 34px;
    color: $BASE_GRAY_COLOR_2;
    &--name {
      @include reduce-text(100px);
    }
    &--icon {
      width: fit-content;
      padding: 0 10px;
    }
    &--name,
    &--icon {
      line-height: 32px;
    }

    &:hover {
      color: #1b3380;
      background: #eeeeee;
    }
  }
}

.custom-vertical-menu-open {
  display: flex !important;
  visibility: visible !important;
  background: #eeeeee;
}
