$BASE_BG_COLOR: #f2f2f4;
$HEADER_BG_COLOR: #404040;
$DARK_BLUE: #1B3380;
$LIGHT_BLUE: #D9DFF2;
$LIGHT_BLUE_2: #F0F2FA;
$BASE_BLUE_COLOR: #1b87e6;
$BASE_GRAY_COLOR: #545e6b;
$BASE_GRAY_COLOR_2: #878F99;
$BASE-WHITE-COLOR: #ffffff;
$BASE-LIGHT-GRAY-COLOR: #D8D8D8;
$BASE-EXTRA-LIGHT-GRAY: #F8F8F8;
$BASE-EXTRA-LIGHT-GRAY-2: #E8E8E8;
$BASE-ERROR-COLOR: #e53251;
$POSITIVE-COLOR: #51B87A;
$NEGATIVE-COLOR: #C50000;
$NEUTRAL-COLOR: #FFA04A;
$NONE-COLOR: #B7B7B7;
$BASE-FONT-SIZE: 12px;
$MEDIUM-FONT-SIZE: 14px;
$BASE-LARGE-SIZE: 24px;
$CX-TABLE-CELL: 140px;
