$BASE_BG_COLOR: #f2f2f4;
$HEADER_BG_COLOR: #404040;
$DARK_BLUE: #1b3380;
$LIGHT_BLUE: #d9dff2;
$LIGHT_BLUE_2: #f0f2fa;
$BASE_BLUE_COLOR: #1b87e6;
$BASE_GRAY_COLOR: #545e6b;
$BASE_GRAY_COLOR_2: #878f99;
$BASE-WHITE-COLOR: #ffffff;
$BASE-LIGHT-GRAY-COLOR: #d8d8d8;
$BASE-EXTRA-LIGHT-GRAY: #f8f8f8;
$BASE-EXTRA-LIGHT-GRAY-2: #e8e8e8;
$BASE-ERROR-COLOR: #e53251;
$POSITIVE-COLOR: #51b87a;
$NEGATIVE-COLOR: #c50000;
$NEUTRAL-COLOR: #ffa04a;
$NONE-COLOR: #b7b7b7;
$BASE-FONT-SIZE: 12px;
$MEDIUM-FONT-SIZE: 14px;
$BASE-LARGE-SIZE: 24px;
$CX-TABLE-CELL: 140px;
